fastapi==0.116.1
uvicorn==0.35.0
requests==2.32.4
python-dotenv==1.1.1

# LLM + Embeddings
sentence-transformers==5.0.0
nltk==3.9.1
transformers==4.53.3
torch==2.7.1

# Vector DB
pinecone==7.3.0

# PDF Text Extraction
PyMuPDF==1.26.3

# Groq API
groq==0.30.0
